# Java
*.class
*.jar
*.war
*.ear
*.log
*.rdb
hs_err_pid*

# Java specific folders
bin/
target/
out/

# C#
*.exe
*.dll
*.pdb
*.mdb
*.class
*.userprefs
*.csproj.user
*.csproj
*.sln
obj/
bin/
.vs/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/cache/
.gradle/config/
.gradle/fileHashes/
.gradle/jars/
.gradle/jetifier/
.gradle/kotlin/
.gradle/notifications/
.gradle/scans/
.gradle/vcs-1/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
[Uu]serSettings/
Assets/**/*.meta
*.htm

# Mac
.DS_Store
Thumbs.db
Desktop.ini